main{
    height: calc(100vh - 88px);
}

a{
    text-decoration: none;
    color: inherit;
}

.small-logo{
    width: 40px; 
}

.search-bar{
    width: 100%;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
}

.icon-round-gray{
    border-radius: 50%;
    background-color: #5b5858;
    padding: 0.7rem 0.3rem;
}

.dark-blue-background{
    background-color: #051e34;
}

header.blue-background{
    background-color: #1b72e8;
}

.light-gray-background{
    background-color: #f7f7f7;
}

.side-bar{
    width: 60px;
    background-image: url('img/sidebar-bg.png');
    background-size: cover;
}

.button-offcanvas{
    border: 2px solid white;
    background-color: transparent ;
}

.gray-button{
    background-color: #165bba;
    border: none;
    border-radius: 1rem;
    font-size: smaller;
    padding: 0 .4rem;
}

.header-col{
    width: 100%;
}

.green-pill{
    color: white;
    padding: .3rem .4rem;
    background-color: #198754;
    border-radius: 1rem;
}

.yellow-pill{
    color: white;
    padding: .3rem .4rem;
    background-color: #ffc107;
    border-radius: 1rem;
}

.red-pill{
    color: white;
    padding: .3rem .4rem;
    background-color: #dc3545;
    border-radius: 1rem;
}

.title-table,
.table-table
{
    border: 1px solid #dadada;
}

.big-table-row{
    width: 40%;
}

div.offcanvas.offcanvas-end.text-black{
    width: 100%;
}

tr th img{
    width: 25px;
    margin-right: .5rem;
}

td i{
    border: 1px solid #6c757d;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

@media screen and (min-width:768px){
    section.side-bar{
        width: 120px;
    }
    div.offcanvas.offcanvas-end.text-black{
        width: 50%;
    }
}